@{ Layout = null;
    ViewData["Title"] = "房产"; }
@model Mapping
<script src="~/lib/jquery-2.0.3/jquery-2.0.3/jquery-2.0.3.min.js"></script>
<link href="~/lib/bootstrap-3.0.3-dist/dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/js/Cesium.js"></script>
<link href="~/lib/Cesium/Widgets/widgets.css" rel="stylesheet" />
<script src="~/js/index.js"></script>

<environment include="Development">
    <script src="~/lib/jquery-2.0.3/jquery-2.0.3/jquery-2.0.3.min.js"></script>
    <link href="~/lib/bootstrap-3.0.3-dist/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/Cesium.js"></script>
    <link href="~/lib/Cesium/Widgets/widgets.css" rel="stylesheet" />
    <script src="~/js/index.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/lib/jquery-2.0.3/jquery-2.0.3/jquery-2.0.3.min.js"></script>
    <link href="~/lib/bootstrap-3.0.3-dist/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/Cesium.js"></script>
    <link href="~/lib/Cesium/Widgets/widgets.css" rel="stylesheet" />
    <script src="~/js/index.min.js"></script>
</environment>

<nav role="navigation" class="navbar bg-dark " style="background:white;margin:20px 10px 0px 20px;position:absolute;z-index:4">
    <div class="form-check">
        <input id="Nos" class="form-check-input" hidden value="@Model.BuildingNo">
        <label class="form-check-label" for="Nos">幢号:@Model.BuildingNo</label>
    </div>
    <div class="form-check form-check-inline">
        <input id="RoomId" class="form-check-input" type="radio" name="exampleRadios" value="@Model.RoomId" checked>
        <label class="form-check-label" for="RoomId">房间号:@Model.RoomId</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" checked>
        <label class="form-check-label" for="blankCheckbox">产权</label>
    </div>
</nav>

<div id="cesiumContainer">
    <div style="position:absolute; z-index:3">
    </div>
</div>
<script type="text/javascript">
    var viewer = init(Cesium);
    var BuildingNo = document.getElementById("Nos").value
    var RoomId = document.getElementById("RoomId").value
    var urlST = `http://47.111.250.87:8080/DATA/SWDJ/321300/001013GB00858/ST/${BuildingNo}/tileset.json`
    var urlCQ = `http://47.111.250.87:8080/DATA/SWDJ/321300/001013GB00858/CQ/${BuildingNo}/tileset.json`
    var RoomArray = RoomId.split('-')

    var floorNo = RoomArray[0]

    var StyleST = set3DTileStyle("Floor", floorNo)
    var StyleCQ = set3DTileStyle("name", RoomId)
    add3DTilesetData(viewer, urlST, StyleST);
    add3DTilesetData(viewer, urlCQ, StyleCQ);


    $("#RoomId").bind("click",function () {
        var selectValue = $(this).val();
        console.log(selectValue)
        $("#blankCheckbox")[0].disabled=false
        var RoomArray = selectValue.split('-')
        var floorNo = RoomArray[0]
        console.log(floorNo)
        let tileStyleFloor = set3DTileStyle("Floor", floorNo)
        addPickEntity(viewer, [
            [urlST, tileStyleFloor]
        ])

    })
    $("#blankCheckbox").click(function () {
        if ($(this).prop("checked")) {
            var selectValue = $("#RoomId").val();
            var RoomArray = selectValue.split('-')
            var floorNo = selectValue[0]
            let tileStyleRoom = set3DTileStyle("name", RoomId)
            addPickEntity(viewer, [
                [urlCQ, tileStyleRoom]
            ])
        } else {
            remove3dtiles(viewer, urlCQ)
           
        }
    })
</script>


